bz2file
cython
dill 
numpy  
flask  
gensim  
h5py  
jupyter  
matplotlib  
pandas  
pillow 
pip  
pytest 
pyhamcrest  
scikit-learn  
scipy  
seaborn  
setuptools  
twisted  
wandb
pymc3
arviz
requests
